body {
  margin: 0;
}
.navLogo {
  width: 10%;
}
.nav {
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid;
  background-color: cornflowerblue;
}
.navText {
  margin-top: 2%;
  font-size: 2rem;
}
.navLink {
  text-decoration: none;
  color: black;
  border-right: solid black;
}
.navLink:nth-child(1) {
  border-left: solid black;
}
.hero {
  width: 100%;
  height: 86vh;
}
.aboutImage {
  height: 80vh;
}

.active {
  color: rgb(145, 44, 5);
  background-color: dodgerblue;
}
.bookContainer {
  height: 10%;
  width: 25vw;
  margin: 5px;
  border: solid;
  text-align: center;
  background-color: gainsboro;
  color: black;
}
.flex {
  display: flex;
}
.flexCloumn {
  flex-direction: column;
}
.pointer {
  cursor: pointer;
}

.flexWrap {
  flex-wrap: wrap;
}
.moreThen150 {
  color: red;
}
.lessThen20 {
  color: green;
}
.width100{
  width: 100%;
}
.reviewContainer {
  border: solid;
  margin-left: 10px;
}
.saleImg {
  width: 15%;
  height: 70px;
}
.listImg {
  height: 25vh;
  width: 70%;
}
h4 {
  margin: 0;
  margin-bottom: 2%;
}
h3 {
  margin: 0;
  margin-bottom: 2%;
}

.show:hover {
  color: dodgerblue;
}
.show {
  text-decoration: underline;
  color: deepskyblue;
  cursor: pointer;
}
.backBtn {
  width: 15%;
  background-color: dodgerblue;
  cursor: pointer;
  border: solid;
  text-align: center;
  color: black;
  text-decoration: none;
}
.modal{
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.322);
  position: fixed
;top: 0;
left: 0;
}
.modalBody{
  border-radius: 20%;
    height: 10vh;
    width: 50%;
    text-align: center;
  position: fixed;
  top: 50%;
  left: 25%;
  background-color: white;
}
.modalError{
  border: 3px solid red;
}
.modalSuccess{
  border: 3px solid green;
}
.success{
  color: green;
}
.error{
  color: red;
}

h1 {
  margin: 0;
}
